<nav class="menu-nav menu-nav--links" aria-label="Café menu categories">
  <a href="{% url 'products:product_list' %}#cookies" class="menu-nav__tab is-active">Cookies</a>
  <a href="{% url 'products:product_list' %}#coffee" class="menu-nav__tab">Coffee</a>
  <a href="{% url 'products:product_list' %}#food" class="menu-nav__tab">Food</a>
  <a href="{% url 'products:product_list' %}#salads" class="menu-nav__tab">Salads</a>
  <a href="{% url 'products:product_list' %}#drinks" class="menu-nav__tab">Drinks</a>
</nav>
